{% extends 'template.twig' %}


{% block style %}

{% endblock style %}


{% block header %}

{% endblock header %}

{% block main %}

<div class="formulaire">
    <form action="index.php" method="POST" id="formulaire">
    {# =============================SECTION LIEUX======================= #}
        <div class="lieux">
            <img src="lieux.png" alt="image lieux">
            <h2 id="lieuxh2">
                Critères géographiques
            </h2>
            <div class="lieuxmenu">
            {# =====SELECT AGGLOMERATION===== #}
            <label for="caracteristiques_agglo">Agglomération : </label>
            <select name="caracteristiques_agglo" id="caracteristiques_agglo">
                <option value="*">Tous</option>
                {% for valeur in caracteristiques_agglo %}
                    <option value="{{ valeur.agglo }}">{{ valeur.agglo }}</option>
                {% endfor %}
            </select>
            {# =====SELECT INTERSECTION===== #}
            <label for="caracteristiques_intersection">Intersection : </label>
            <select name="caracteristiques_intersection" id="caracteristiques_intersection">
                <option value="*">Tous</option>
                {% for valeur in caracteristiques_intersection %}
                    <option value="{{ valeur.intersection }}">{{ valeur.intersection }}</option>
                {% endfor %}
            </select>
            {# =====SELECT ATMOSPHERE===== #}
            <label for="caracteristiques_atm">Atmosphère : </label>
            <select name="caracteristiques_atm" id="caracteristiques_atm">
                <option value="*">Tous</option>
                {% for valeur in caracteristiques_atm %}
                    <option value="{{ valeur.atm }}">{{ valeur.atm }}</option>
                {% endfor %}
            </select>
            {# =====SELECT LUMIERE===== #}
            <label for="caracteristiques_lumiere">Lumière : </label>
            <select name="caracteristiques_lumiere" id="caracteristiques_lumiere">
                <option value="*">Tous</option>
                {% for valeur in caracteristiques_lumiere %}
                    <option value="{{ valeur.lumiere }}">{{ valeur.lumiere }}</option>
                {% endfor %}
            </select>
    {# =============================SECTION USAGERS======================= #}
        <div class="usagers">
            <img src="usagers.png" alt="image usagers">
            <h2 id="usagersh2">
                Critères géographiques
            </h2>
            <div class="usagersmenu">
            {# =====SELECT USAGES_GRAVITE===== #}
            <label for="usagers_gravite">Gravite : </label>
            <select name="usagers_gravite" id="usagers_gravite">
                <option value="*">Tous</option>
                {% for valeur in usagers_gravite %}
                    <option value="{{ valeur.gravite }}">{{ valeur.gravite }}</option>
                {% endfor %}
            </select>
            {# =====SELECT CATEGORIE_U===== #}
            <label for="usagers_categorie_u">Categorie Usagers : </label>
            <select name="usagers_categorie_u" id="usagers_categorie_u">
                <option value="*">Tous</option>
                {% for valeur in usagers_categorie_u %}
                    <option value="{{ valeur.categorie_u }}">{{ valeur.categorie_u }}</option>
                {% endfor %}
            </select>
            {# =====SELECT SEXE===== #}
            <label for="usagers_sexe">Sexe : </label>
            <select name="usagers_sexe" id="usagers_sexe">
                <option value="*">Tous</option>
                {% for valeur in usagers_sexe %}
                    <option value="{{ valeur.sexe }}">{{ valeur.sexe }}</option>
                {% endfor %}
            </select>
            {# =====SELECT TRAJET===== #}
            <label for="usagers_trajet">Trajet : </label>
            <select name="usagers_trajet" id="usagers_trajet">
                <option value="*">Tous</option>
                {% for valeur in usagers_trajet %}
                    <option value="{{ valeur.trajet }}">{{ valeur.trajet }}</option>
                {% endfor %}
            </select>
            {# =====SELECT EQUIPEMENT_SECU===== #}
            <label for="usagers_equipement_secu">Equipement de sécurité : </label>
            <select name="usagers_equipement_secu" id="usagers_equipement_secu">
                <option value="*">Tous</option>
                {% for valeur in usagers_equipement_secu %}
                    <option value="{{ valeur.equipement_secu }}">{{ valeur.equipement_secu }}</option>
                {% endfor %}
            </select>
        </div>
        <input type="submit" value="envoyer">
    </form>
</div>

{% endblock main %}